<!-- app/views/rooms/show.html.erb -->
<h1>Room: <%= @room.name %></h1>

<div class="players-text">
  <h2>Players in the room</h2>
</div>

<div class="characteristics-container">
  <!-- Characteristics of other players -->
  <% @players.each do |player| %>
    <div class="characteristics-list">
      <p><strong>Name:</strong> <%= player.user.name.present? ? player.user.name : player.user.email %></p>
      <% if player.characteristic.present? %>
        <ul>
          <% player.characteristic.attributes.each do |name, value| %>
            <% unless ['id', 'created_at', 'updated_at', 'player_id'].include?(name) %>
              <li class="characteristic-item">
                <div class="characteristic-info">
                  <strong><%= name.titleize %>:</strong>
                  <% if current_user == player.user || (player.visible_characteristics&.include?(name) && @room.turn_status == 'voting') %>
                    <%= value %>
                  <% else %>
                    <%= "Hidden" %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p>No characteristics available.</p>
      <% end %>
    </div>
  <% end %>
</div>

<% unless @room.players.exists?(user_id: current_user.id) %>
  <%= button_to 'Take Slot', take_slot_room_path(@room), method: :post %>
<% end %>

<% if @room.owner == current_user %>
  <% if @room.players.count >= 2 %>
    <%= button_to 'Start Game', start_game_room_path(@room), method: :post %>
  <% else %>
    <p>Waiting for more players to start the game...</p>
  <% end %>
<% end %>



<% if @room.owner == current_user %>
  <%= form_for @room, method: :delete, data: { confirm: 'Are you sure?' } do |f| %>
    <%= f.submit 'Delete Room' %>
  <% end %>
<% end %>


<% if @room.owner == current_user %>
  <%= form_for @room, url: kick_player_room_path(@room), method: :post do |f| %>
    <%= label_tag 'player_id', 'Select player to kick:' %>
    <%= select_tag 'player_id', options_for_select(@room.players.map { |player| [player.user.email, player.id] }) %>
    <%= f.submit 'Вигнати', class: 'kick-button' %>
  <% end %>
<% end %>



<% if @room.owner == current_user %>
  <%= form_for @room, url: open_characteristic_room_path(@room), method: :post do |f| %>
    <%= label_tag 'player_id', 'Select player to open characteristic:' %>
    <%= select_tag 'player_id', options_for_select(@room.players.map { |player| [player.user.email, player.id] }) %>
    <%= f.submit 'Відкрити', class: 'open-button' %>
  <% end %>
<% end %>




   






<h1>API SECTION</h1>
<h4>Weather API</h4>
<% if @weather_info.present? %>
  <p>Temperature: <%= (@weather_info['main']['temp'] - 273.15).round %> °C</p>
  <p>Humidity: <%= @weather_info['main']['humidity'] %> %</p>
<% else %>
  <p>No weather information available.</p>
<% end %>

<h4>Deezer API</h4>
<% if @search_results.present? && @search_results['data'].present? %>
  <ul>
    <% @search_results['data'].take(2).each do |track| %>
      <li>
        <strong>Title:</strong> <%= track['title'] %><br>
        <strong>Artist:</strong> <%= track['artist']['name'] %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No search results available.</p>
<% end %>