<!-- app/views/rooms/show.html.erb -->
<h1><%= @room.name %></h1>

<h2>Players</h2>
<p>Limit: <%= @room.limit %></p>
<ul>
  <% @players.each do |player| %>
    <li><%= player.user.email %></li>
  <% end %>
</ul>
<% unless @room.players.exists?(user_id: current_user.id) %>
  <%= button_to 'Take Slot', take_slot_room_path(@room), method: :post %>
<% end %>

<% if @room.owner == current_user %>
  <%= form_for @room, method: :delete, data: { confirm: 'Are you sure?' } do |f| %>
    <%= f.submit 'Delete Room' %>
  <% end %>
<% end %>

<%= link_to 'Back', rooms_path %>